  <tr class="ui-widget-header">
    <th>ID</th>
    <th>Smoke Test</th>
    <th>Configuration</th>
    <th>Status</th>
    <th>Nova<br/>Revision</th>
    <th>Glance<br/>Revision</th>
    <th>Runtime</th>
    <th>Msg</th>
    <th></th>
    <% if is_user %>
      <th></th>
    <% end %>
  </tr>

<% show_edit_links = is_user %>

<% @jobs.each do |job| %>
  <tr id="job-tr-<%= job.id %>" class="<%= cycle "tr0", "tr1" %>">
    <td><%= job.id %></td>
    <% if job.job_group.smoke_test then %>
        <td><%= job.job_group.smoke_test.description %></td>
    <% else %>
        <td>&nbsp;</td>
    <% end %>
    <% if job.config_template then %>
        <td><%= job.config_template.name %></td>
    <% else %>
        <td>&nbsp;</td>
    <% end %>
    <td nowrap><%= raw(status_image(job.status)) %></td>
    <td><%= job.nova_revision %></td>
    <td><%= job.glance_revision %></td>
    <td><%= job_runtime(job) %></td>
    <td><%= job.msg %></td>
    <td><%= link_to 'Show', job, :class => "job-show" %></td>
    <% if show_edit_links %>
      <td><%= link_to 'Destroy', job, :confirm => 'Are you sure?', :method => :delete, :class => "job-destroy" %></td>
    <% end %>
  </tr>
<% end %>
