  <tr class="header">
    <th>ID</th>
<% if local_assigns[:show_description] %>
    <th>Smoke Test</th>
<% end %>
    <th>Configuration</th>
    <th>Status</th>
    <th>Nova<br/>Revision</th>
    <th>Keystone<br/>Revision</th>
    <th>Glance<br/>Revision</th>
    <th>Cinder<br/>Revision</th>
    <th>Swift<br/>Revision</th>
    <th>Neutron<br/>Revision</th>
    <th>Runtime</th>
<% if local_assigns[:show_updated_at] %>
    <th>Updated at</th>
<% end %>
    <th>Msg</th>
    <th>Approved</th>
    <th></th>
    <% if is_user %>
      <th></th>
    <% end %>
  </tr>

<% show_edit_links = is_user %>

<% @jobs.each do |job| %>
  <tr class="job-tr-<%= job.id %> <%= cycle "tr0", "tr1" %>">
    <td><%= job.id %></td>
    <% if local_assigns[:show_description] %>
      <% if job.job_group.smoke_test then %>
        <td><%= raw(chop_for_html(job.job_group.smoke_test.description, 50)) %></td>
      <% else %>
        <td>&nbsp;</td>
      <% end %>
    <% end %>
    <% if job.type == "JobUnitTester" then %>
        <td>Unit Tests</td>
    <% elsif job.config_template then %>
        <td><%= raw(chop_for_html(job.config_template.name, 40)) %></td>
    <% else %>
        <td>&nbsp;</td>
    <% end %>
    <td nowrap><%= raw(status_image(job.status)) %></td>
    <td><%= raw(chop_for_html(job.nova_revision, 7)) %></td>
    <td><%= raw(chop_for_html(job.keystone_revision, 7)) %></td>
    <td><%= raw(chop_for_html(job.glance_revision, 7)) %></td>
    <td><%= raw(chop_for_html(job.cinder_revision, 7)) %></td>
    <td><%= raw(chop_for_html(job.swift_revision, 7)) %></td>
    <td><%= raw(chop_for_html(job.neutron_revision, 7)) %></td>
    <td><%= job_runtime(job) %></td>
    <% if local_assigns[:show_updated_at] %>
      <td><%= timestamp(job.updated_at.in_time_zone) %></td>
    <% end %>
    <td><%= raw(chop_for_html(job.msg, 40)) %></td>
    <td align="center">
<% if session[:user_id] %>
    <%= form_tag("/jobs/#{job.id}", :method => "PUT", :id => "job-update-form-#{job.id}") do %>
      <%= check_box_tag "job[approved]", "1", approved?(job), :onchange => "job_update('#{job.id}',$('#job-update-form-#{job.id}').serialize());", :title => "Approved by: #{approved_by(job)}" %>
    <% end -%>
<% else %>
<font title="Approved by: <%= approved_by(job) %>">
  <% if approved?(job) %>
    Yes
  <% else %>
    No
  <% end %>
</font>
<% end %>
    </td>
    <td><a href="<%= "/jobs/#{job.id}" %>" class="job-show btn btn-small" title="Show"><i class="icon-zoom-in"></i></a></td>
    <% if show_edit_links %>
      <td><a href="<%= "/jobs/#{job.id}" %>" class="job-destroy btn btn-small" title="Delete"><i class="icon-trash"></i></a></td>
    <% end %>
  </tr>
<% end %>
