<p id="notice"><%= notice %></p>

<p>
  <b>Smoke test:</b>
  <%= @job.smoke_test.description %>
</p>

<% if not @job.smoke_test.nova_package_builder.url.empty? %>
  <b>Branch Url:</b>
  <%= @job.smoke_test.nova_package_builder.url %>
<% end %>

<p>
  <b>Status:</b>
  <%= @job.status %>
</p>

<p>
  <b>Msg:</b>
  <%= @job.msg %>
</p>

<p>
  <b>Stdout:</b>
<% if @job.stdout then %>
<br/>
<textarea rows="10" cols="80">
  <%= @job.stdout %>
</textarea>
<% end %>
</p>

<p>
  <b>Stderr:</b>
<% if @job.stderr then %>
<br/>
<textarea rows="10" cols="80">
  <%= @job.stderr %>
</textarea>
<% end %>
</p>
