<p id="notice"><%= notice %></p>

<p>
  <b>Success:</b>
  <%= @job.status %>
</p>

<p>
  <b>Stdout:</b>
  <%= @job.stdout %>
</p>

<p>
  <b>Stderr:</b>
  <%= @job.stderr %>
</p>

<p>
  <b>Msg:</b>
  <%= @job.msg %>
</p>

<p>
  <b>Smoke test:</b>
  <%= @job.smoke_test_id %>
</p>
