<script type="text/javascript">

$(document).ready(function() {

  $("#job_accordion").accordion({ fillSpace: false, autoHeight: false, clearStyle: true });

  $("input.paste-site").button({
      icons: {
          primary: 'ui-icon-extlink'
      }
  });

});

</script>

<% if notice then %>
<p id="notice"><%= notice %></p>
<% end %>
<p>
  <b>Job ID <%= @job.id %>:</b>
  <%= @job.job_group.smoke_test.description %>
&nbsp; &nbsp; &nbsp; &nbsp;
  <b>Description:</b>
  <%= @job.job_group.smoke_test.description %>
<p>
  <b>Status:</b>
  <%= @job.status %>
&nbsp; &nbsp; &nbsp; &nbsp;
  <b>Updated at:</b>:<%= timestamp(@job.updated_at.in_time_zone) %>
</p>
<% if not @job.msg.blank? %>
<p>
  <b>Msg:</b>
  <%= @job.msg %>
</p>
<% end %>
</div>
<% if @job.stdout or @job.stderr then %>
<div id="job_accordion">

<% if @job.stdout then %>
<h3><a href="#">Standard Out</a></h3>
<div>
<form action="<%= ENV['PASTE_SITE_URL'] %>" method="POST" target="_blank">
<input type="hidden" name="language" value="text"/>
<% if ENV['PASTE_SITE_URL'] %>
<input type="submit" name="paste" value="Create Paste" class="paste-site" title="Paste to: '<%= ENV['PASTE_SITE_URL'] %>'"/><br/>
<% end %>
<textarea name="code" rows="15" cols="100">
<%= @job.stdout %>
</textarea>
</form>
</div>
<% end %>

<% if @job.stderr then %>
<h3><a href="#">Standard Error</a></h3>
<div>
<form action="<%= ENV['PASTE_SITE_URL'] %>" method="POST" target="_blank">
<input type="hidden" name="language" value="text"/>
<% if ENV['PASTE_SITE_URL'] %>
<input type="submit" name="paste" value="Create Paste" class="paste-site" title="Paste to: '<%= ENV['PASTE_SITE_URL'] %>'" /><br/>
<% end %>
<textarea name="code" rows="15" cols="100">
<%= @job.stderr %>
</textarea>
</form>
</div>
<% end %>
</div>
<% end %>
