<% if notice then %>
<p id="notice"><%= notice %></p>
<% end %>
<p>
  <b>Job ID:</b> <%= @job.id %>
&nbsp; &nbsp; &nbsp; &nbsp;
  <b>Description:</b>
  <%=raw chop_for_html(@job.job_group.smoke_test.description, 80) %>
<p>
  <b>Status:</b>
  <%= @job.status %>
&nbsp; &nbsp; &nbsp; &nbsp;
  <b>Updated at:</b>:<%= timestamp(@job.updated_at.in_time_zone) %>
</p>
<% if not @job.msg.blank? %>
<p>
  <b>Msg:</b>
  <%= @job.msg %>
</p>
<% end %>
</div>
<% if @job.stdout or @job.stderr then %>
<div>

<% if @job.stdout then %>
<h3>Standard Out</h3>
<div>
<form action="<%= ENV['PASTE_SITE_URL'] %>" method="POST" target="_blank">
<input type="hidden" name="language" value="text"/>
<% if ENV['PASTE_SITE_URL'] %>
<button type="submit" name="paste" class="btn btn-small btn-info" title="Paste to: '<%= ENV['PASTE_SITE_URL'] %>'">Create Paste</button><br/>
<% end %>
<textarea name="code" rows="15" cols="100" class="wide logs">
<%= @job.stdout %>
</textarea>
</form>
</div>
<% end %>

<% if @job.stderr then %>
<h3>Standard Error</h3>
<div>
<form action="<%= ENV['PASTE_SITE_URL'] %>" method="POST" target="_blank">
<input type="hidden" name="language" value="text"/>
<% if ENV['PASTE_SITE_URL'] %>
<button type="submit" name="paste" class="btn btn-small btn-info" title="Paste to: '<%= ENV['PASTE_SITE_URL'] %>'">Create Paste</button><br/>
<% end %>
<textarea name="code" rows="15" cols="100" class="wide logs">
<%= @job.stderr %>
</textarea>
</form>
</div>
<% end %>
</div>
<% end %>
