<div id="smoke-test-error-messages" class="ui-widget" style="display: none">
    <div class="ui-state-error ui-corner-all" style="padding: .25em .25em .25em 2.5em;">
<p><span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span>
<div id="smoke-test-error-messages-content"></div>
</p>
    </div>
</div>

<%= form_for(@smoke_test, :html => { :id => "smoke-test-form", :onsubmit => "create_smoke_test(); return false;" } ) do |f| %>

  <% if @smoke_test.id then %>
    <%= f.hidden_field :id %>
  <% end %>

  <% if @smoke_test.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@smoke_test.errors.count, "error") %> prohibited this smoke_test from being saved:</h2>

      <ul>
      <% @smoke_test.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :branch_url %><br />
    <%= f.text_field :branch_url %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label "Merge lp:nova" %><br />
    <%= f.check_box :merge_trunk %>
  </div>
<% end %>
