<script type="text/javascript">

    $("a.smoke-test-edit-advanced").button({
        icons: {
            primary: 'ui-icon-gear'
        },
        text: false
    }
    );

    $("a.smoke-test-cookbook-url").button({
        icons: {
            primary: 'ui-icon-gear'
        },
        text: true
    }
    );

</script>

<div id="smoke-test-error-messages" class="ui-widget" style="display: none">
    <div class="ui-state-error ui-corner-all" style="padding: .25em .25em .25em 2.5em;">
<p><span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span>
<div id="smoke-test-error-messages-content"></div>
</p>
    </div>
</div>

<%= form_for(@smoke_test, :html => { :id => "smoke-test-form", :onsubmit => "create_smoke_test(); return false;" } ) do |f| %>

  <% if @smoke_test.id then %>
    <%= f.hidden_field :id %>
  <% end %>

  <% if @smoke_test.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@smoke_test.errors.count, "error") %> prohibited this smoke_test from being saved:</h2>

      <ul>
      <% @smoke_test.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :description %>&nbsp;(Ex. Nova fix_api_extensions)<br/>
    <%= f.text_field :description %>

<% if @smoke_test.cookbook_url.blank? %>
  <% cookbook_url_div = "hide" %>
   <a style="float: right" title="Override Cookbook URL" class="smoke-test-cookbook-url" onclick='$("#cookbook-url-div").toggle(); $(this).hide();'>Override Cookbook URL</a>
<% else %>
  <% cookbook_url_div = "" %>
<% end %>

  </div>

  <div id="cookbook-url-div" class="field <%= cookbook_url_div %>">
    <%= f.label 'Cookbook URL (optional override)' %>&nbsp;<br/>
    <%= f.text_field :cookbook_url, :size => 60 %>
  </div>


<br/>
<table class="data" width="100%">
<tr class="header">
<th>&nbsp;</th>
<th>URL</th>
<th>Branch<br/>(Git Only)</th>
<th>Merge<br/>Trunk</th>
<th>Adv<br/>Opts</th>
</tr>

<% if @smoke_test.nova_package_builder.deb_packager_url.blank? and @smoke_test.nova_package_builder.rpm_packager_url.blank? and @smoke_test.nova_package_builder.revision_hash.blank? %>
  <% adv_nova_options_link = "" %>
  <% adv_nova_options_tr = "hide" %>
<% else %>
  <% adv_nova_options_link = "hide" %>
  <% adv_nova_options_tr = "" %>
<% end %>

  <%= f.fields_for :nova_package_builder do |nova_build_frm| %>
    <tr>
      <td class="header">Nova Builder</td>
      <td><%= nova_build_frm.text_field :url, :style => 'width: 300px' %></td>
      <td><%= nova_build_frm.text_field :branch, :style => 'width: 150px' %></td>
      <td><%= nova_build_frm.check_box :merge_trunk %></td>
      <td><a title="Show/Hide Advanced Nova Build Options" class="smoke-test-edit-advanced <%= adv_nova_options_link %>" onclick='$("#nova-builder-adv-tr").toggle();'>&nbsp;</a></td>
    </tr>
    <tr class="<%= adv_nova_options_tr %>" id="nova-builder-adv-tr">
      <td>&nbsp;</td>
      <td colspan="3">
        <font class="header">Revision/Hash: &nbsp;</font><%= nova_build_frm.text_field :revision_hash, :style => 'width: 100px' %><br/>
        <font class="header">DEB Package Builder URL: &nbsp;</font><%= nova_build_frm.text_field :deb_packager_url, :style => 'width: 300px' %><br/>
        <font class="header">RPM Package Builder URL: &nbsp;</font><%= nova_build_frm.text_field :rpm_packager_url, :style => 'width: 300px' %>
      </td>
    </tr>
  <% end %>

<% if @smoke_test.keystone_package_builder.deb_packager_url.blank? and @smoke_test.keystone_package_builder.rpm_packager_url.blank? and @smoke_test.keystone_package_builder.revision_hash.blank? %>
  <% adv_keystone_options_link = "" %>
  <% adv_keystone_options_tr = "hide" %>
<% else %>
  <% adv_keystone_options_link = "hide" %>
  <% adv_keystone_options_tr = "" %>
<% end %>

  <%= f.fields_for :keystone_package_builder do |keystone_build_frm| %>
    <tr>
      <td class="header">Keystone Builder</td>
      <td><%= keystone_build_frm.text_field :url, :style => 'width: 300px' %></td>
      <td><%= keystone_build_frm.text_field :branch, :style => 'width: 150px' %></td>
      <td><%= keystone_build_frm.check_box :merge_trunk %></td>
      <td><a title="Show/Hide Advanced Keystone Build Options" class="smoke-test-edit-advanced <%= adv_keystone_options_link %>" onclick='$("#keystone-builder-adv-tr").toggle();'>&nbsp;</a></td>
    </tr>
    <tr class="<%= adv_keystone_options_tr %>" id="keystone-builder-adv-tr">
      <td>&nbsp;</td>
      <td colspan="3">
        <font class="header">Revision/Hash: &nbsp;</font><%= keystone_build_frm.text_field :revision_hash, :style => 'width: 100px' %><br/>
        <font class="header">DEB Package Builder URL: &nbsp;</font><%= keystone_build_frm.text_field :deb_packager_url, :style => 'width: 300px' %><br/>
        <font class="header">RPM Package Builder URL: &nbsp;</font><%= keystone_build_frm.text_field :rpm_packager_url, :style => 'width: 300px' %>
      </td>
    </tr>
  <% end %>

<% if @smoke_test.glance_package_builder.deb_packager_url.blank? and @smoke_test.glance_package_builder.rpm_packager_url.blank? and @smoke_test.glance_package_builder.revision_hash.blank? %>
  <% adv_glance_options_link = "" %>
  <% adv_glance_options_tr = "hide" %>
<% else %>
  <% adv_glance_options_link = "hide" %>
  <% adv_glance_options_tr = "" %>
<% end %>

  <%= f.fields_for :glance_package_builder do |glance_build_frm| %>
    <tr>
      <td class="header">Glance Builder</td>
      <td><%= glance_build_frm.text_field :url, :style => 'width: 300px' %></td>
      <td><%= glance_build_frm.text_field :branch, :style => 'width: 150px' %></td>
      <td><%= glance_build_frm.check_box :merge_trunk %></td>
      <td><a title="Show/Hide Advanced Glance Build Options" class="smoke-test-edit-advanced <%= adv_glance_options_link %>" onclick='$("#glance-builder-adv-tr").toggle();'>&nbsp;</a></td>
    </tr>
    <tr class="<%= adv_glance_options_tr %>" id="glance-builder-adv-tr">
      <td>&nbsp;</td>
      <td colspan="3">
        <font class="header">Revision/Hash: &nbsp;</font><%= glance_build_frm.text_field :revision_hash, :style => 'width: 100px' %><br/>
        <font class="header">DEB Package Builder URL: &nbsp;</font><%= glance_build_frm.text_field :deb_packager_url, :style => 'width: 300px' %><br/>
        <font class="header">RPM Package Builder URL: &nbsp;</font><%= glance_build_frm.text_field :rpm_packager_url, :style => 'width: 300px' %>
      </td>
    </tr>
  <% end %>

<% if @smoke_test.swift_package_builder.deb_packager_url.blank? and @smoke_test.swift_package_builder.rpm_packager_url.blank? and @smoke_test.swift_package_builder.revision_hash.blank? %>
  <% adv_swift_options_link = "" %>
  <% adv_swift_options_tr = "hide" %>
<% else %>
  <% adv_swift_options_link = "hide" %>
  <% adv_swift_options_tr = "" %>
<% end %>

  <%= f.fields_for :swift_package_builder do |swift_build_frm| %>
    <tr>
      <td class="header">Swift Builder</td>
      <td><%= swift_build_frm.text_field :url, :style => 'width: 300px' %></td>
      <td><%= swift_build_frm.text_field :branch, :style => 'width: 150px' %></td>
      <td><%= swift_build_frm.check_box :merge_trunk %></td>
      <td><a title="Show/Hide Advanced Swift Build Options" class="smoke-test-edit-advanced <%= adv_swift_options_link %>" onclick='$("#swift-builder-adv-tr").toggle();'>&nbsp;</a></td>
    </tr>
    <tr class="<%= adv_swift_options_tr %>" id="swift-builder-adv-tr">
      <td>&nbsp;</td>
      <td colspan="3">
        <font class="header">Revision/Hash: &nbsp;</font><%= swift_build_frm.text_field :revision_hash, :style => 'width: 100px' %><br/>
        <font class="header">DEB Package Builder URL: &nbsp;</font><%= swift_build_frm.text_field :deb_packager_url, :style => 'width: 300px' %><br/>
        <font class="header">RPM Package Builder URL: &nbsp;</font><%= swift_build_frm.text_field :rpm_packager_url, :style => 'width: 300px' %>
      </td>
    </tr>
  <% end %>

<% if @smoke_test.cinder_package_builder.deb_packager_url.blank? and @smoke_test.cinder_package_builder.rpm_packager_url.blank? and @smoke_test.cinder_package_builder.revision_hash.blank? %>
  <% adv_cinder_options_link = "" %>
  <% adv_cinder_options_tr = "hide" %>
<% else %>
  <% adv_cinder_options_link = "hide" %>
  <% adv_cinder_options_tr = "" %>
<% end %>

  <%= f.fields_for :cinder_package_builder do |cinder_build_frm| %>
    <tr>
      <td class="header">Cinder Builder</td>
      <td><%= cinder_build_frm.text_field :url, :style => 'width: 300px' %></td>
      <td><%= cinder_build_frm.text_field :branch, :style => 'width: 150px' %></td>
      <td><%= cinder_build_frm.check_box :merge_trunk %></td>
      <td><a title="Show/Hide Advanced Cinder Build Options" class="smoke-test-edit-advanced <%= adv_cinder_options_link %>" onclick='$("#cinder-builder-adv-tr").toggle();'>&nbsp;</a></td>
    </tr>
    <tr class="<%= adv_cinder_options_tr %>" id="cinder-builder-adv-tr">
      <td>&nbsp;</td>
      <td colspan="3">
        <font class="header">Revision/Hash: &nbsp;</font><%= cinder_build_frm.text_field :revision_hash, :style => 'width: 100px' %><br/>
        <font class="header">DEB Package Builder URL: &nbsp;</font><%= cinder_build_frm.text_field :deb_packager_url, :style => 'width: 300px' %><br/>
        <font class="header">RPM Package Builder URL: &nbsp;</font><%= cinder_build_frm.text_field :rpm_packager_url, :style => 'width: 300px' %>
      </td>
    </tr>
  <% end %>

</table>
<hr/>
<div>
<div style="float: left; margin-right: 200px;">
<b>Configurations:</b><br/>

    <% ConfigTemplate.find(:all, :conditions => ['enabled = ?', true]).each do |config_template| %>
         <%= check_box_tag "smoke_test[config_template_ids][]", "#{config_template.id}", config_template_checked(config_template) -%>
         <%= config_template.name %><br/>
    <% end %>

</div>
<div style="float: left; margin-right: 200px;">
<b>Test Suites:</b><br/>

    <% TestSuite.find(:all).each do |suite| %>
         <%= check_box_tag "smoke_test[test_suite_ids][]", "#{suite.id}", test_suite_checked(suite) -%>
         <%= suite.description %><br/>
    <% end %>

</div>
<div style="float: left;">
<b>Miscellaneous:</b><br/>
    <%= f.check_box :unit_tests %>Unit tests
</div>
</div>
<% end %>
