<p id="notice"><%= notice %></p>

<p>
  <b>Description:</b>
  <%= @smoke_test.description %>
</p>
<hr/>
<p>
  <b>Nova URL:</b>
  <%= @smoke_test.nova_package_builder.url %>
</p>

<% if not @smoke_test.nova_package_builder.branch.blank? then %>
<p>
  <b>Nova Branch:</b>
  <%= @smoke_test.nova_package_builder.branch %>
</p>
<% end %>

<p>
  <b>Nova Merge trunk:</b>
  <%= yes_no(@smoke_test.nova_package_builder.merge_trunk) %>
</p>

<p>
  <b>Nova Revision (most recent):</b>
  <% if @smoke_test.most_recent_job_group and @smoke_test.most_recent_job_group.most_recent_job %>
    <%= @smoke_test.most_recent_job_group.most_recent_job.nova_revision %>
  <% end %>
</p>
<hr/>
<p>
  <b>Glance URL:</b>
  <%= @smoke_test.glance_package_builder.url %>
</p>

<% if not @smoke_test.glance_package_builder.branch.blank? then %>
<p>
  <b>Glance Branch:</b>
  <%= @smoke_test.glance_package_builder.branch %>
</p>
<% end %>

<p>
  <b>Glance Merge trunk:</b>
  <%= yes_no(@smoke_test.glance_package_builder.merge_trunk) %>
</p>

<p>
  <b>Glance Revision (most recent):</b>
  <% if @smoke_test.most_recent_job_group and @smoke_test.most_recent_job_group.most_recent_job %>
    <%= @smoke_test.most_recent_job_group.most_recent_job.glance_revision %>
  <% end %>
</p>

<hr/>
<% @jobs = Job.find(:all, :conditions => ["job_group_id IN (SELECT id from job_groups WHERE smoke_test_id = ?)", @smoke_test.id], :include => [:config_template, {:job_group => :smoke_test}], :order => "id DESC") %>
<script type="text/javascript">

$(document).ready(function() {

    job_table_selectors();

});

</script>
<table id="jobs-table" class="ui-widget ui-widget-content data">
    <%= render :partial => '/jobs/table' %>
</table>

