<p id="notice"><%= notice %></p>

<p>
  <b>Branch name:</b>
  <%= @smoke_test.branch_url %>
</p>

<p>
  <b>Description:</b>
  <%= @smoke_test.description %>
</p>

<p>
  <b>Revision:</b>
  <%= @smoke_test.last_revision %>
</p>

<p>
  <b>Merge trunk:</b>
  <%= yes_no(@smoke_test.merge_trunk) %>
</p>
<hr/>
<% @jobs = @smoke_test.jobs %>
<script type="text/javascript">

$(document).ready(function() {

    job_table_selectors();

});

</script>
<table id="jobs-table" class="ui-widget ui-widget-content data">
    <%= render :partial => '/jobs/table' %>
</table>

