<div id="user-error-messages" />

<%= form_for(@user, :html => { :id => "user-form", :onsubmit => "create_user(); return false;", :class => "form-inline" } ) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :username %>
    <%= f.text_field :username %>
  </div>
  <div class="field">
    <%= f.label :first_name %>
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %>
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :is_active %>
    <%= f.check_box :is_active %>
  </div>
  <div class="field">
    <%= f.label :is_admin %>
    <%= f.check_box :is_admin %>
  </div>

  <% if @user.new_record? then %>

  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password %>
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </div>

  <% end %>

<% end %>
