<h1>Change Password: <%= @user.username %></h1>

<div id="user-password-error-messages" />

<script type="text/javascript">

$(document).ready(function() {
    $('input.password').keydown(function(e){
        if (e.keyCode == 13) {
            change_password();
            return false;
        }
    });
});

</script>

<%= form_for(@user, :html => { :id => "user-password-form", :onsubmit => "change_password(); return false;"}) do |f| %>

  <p>
    <%= f.label :password %>
    <%= f.password_field :password, :class => "password" %>
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, :class => "password" %>
  </p>

<% end %>
