<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
  <title>SmokeStack</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js" type="text/javascript"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js" type="text/javascript"></script>
  <%= javascript_include_tag "application" %>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "bootstrap" %>
  <%= csrf_meta_tag %>
</head>
<body>

<script type="text/javascript">

var globalJobRefreshId = null;
var globalSmokeTestRefreshId = null;

$(document).ready(function() {

    login_selectors();
    change_password_selector();

    <% if @go %>
         $.get("<%= @go %>", function(html_snippet) {

           $("#go-dialog").html(
                html_snippet
           );

           $("#go-dialog").dialog({
                modal: true,
                height: $(window).height()-50,
                width: $(window).width()-50,
                close: function(data) {
                    $(this).html("");
                    $(this).dialog('destroy');
                }
            });

         });
    <% end %>

});

</script>

<%
#NOTE: we store dialog divs here to avoid a div id leak. This is because
# Jquery UI moves divs used for dialogs into the body regardless of where
# they originally appear.
%>
<div id="login-dialog"></div>
<div id="smoke-tests-dialog"></div>
<div id="jobs-dialog"></div>
<div id="users-dialog"></div>
<div id="config-templates-dialog"></div>
<div id="change-password-dialog"></div>
<div id="go-dialog"></div>

<div class="navbar">
<div class="navbar-inner">
<div class="container-fluid">
  <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </a>
  <a class="brand" href="http://smokestack.openstack.org/" valign="center"><img src="assets/smokestack-logo.png" /></a>
  <div class="nav-collapse collapse">
    <ul class="nav">
        <li id="nav_smoke_tests"><a href="/">Home</a></li>
        <li id="nav_jobs"><a href="/jobs">Jobs</a></li>
        <% if is_admin %>
          <li id="nav_users"><a href="/users">Users</a></li>
          <li id="nav_config_templates"><a href="/config_templates">Configurations</a></li>
        <% end %>
        <li id="nav_about"><a href="/about">About</a></li>
    </ul>
  </div><!--/.nav-collapse -->
    <p class="navbar-text pull-right">
<%
login_style=is_user ? "hide" : "show"
logout_style=is_user ? "show" : "hide"
%>
<a id="login-link" href="/auth" class="login_link <%= login_style %>">Log In</a><a id="change-password-link" href="/users/<%= session[:user_id] %>/password" class="user-password-link <%= logout_style %>">Change Password</a><font class="<%= logout_style %>">&nbsp;/&nbsp;</font><a id="logout-link" href="/auth/logout" class="logout_link <%= logout_style %>">Log out</a>
    </p>

</div>
</div>
</div>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span12">
        <%= yield %>
    </div><!--/span-->
  </div><!--/row-->

<%= form_tag('/auth/logout', :method => :post, :id => "logout-form") %>
</form>
<hr>
Version: <%= SMOKESTACK_VERSION %>
</div><!--/.fluid-container-->

</body>
</html>
